<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 p-4">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-red-500 mb-4">404</h1>
        <h2 class="text-3xl font-bold text-gray-800 mb-4">Page Inexistante</h2>
        <p class="text-lg text-gray-600 mb-8">Désolé, la page que vous recherchez n'existe pas.</p>
        <a href="/" class="bg-blue-500 text-white px-6 py-3 rounded-md hover:bg-blue-600 transition duration-300">Aller à la page d'accueil</a>
    </div>
</div>