<div class="bg-blue-100 min-h-screen flex items-center justify-center p-4">
    <div class="flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-8">
        <div class="flex flex-col items-center space-y-4">
            @if (city) {
                <div class="bg-blue-300 p-4 rounded-lg shadow-md cursor-pointer" (click)="service.goToWeatherDetail(city)">
                    <h2 class="text-2xl font-bold mb-2">{{city.name}}</h2>
                    <p class="text-lg">Température: {{ city.main.temp }}°C</p>
                    <p class="text-lg">Humidité: {{ city.main.humidity }}%</p>
                    <p class="text-lg">Vitesse du vent: {{ city.wind.speed }}m/s</p>
                    <p class="text-lg">Temps: {{ city.weather[0].main }}</p>
                </div>
            } @else {
                <h1 class="text-3xl font-bold">
                    Search for another city,<br>
                    we couldn't find this one
                </h1>
            }
        </div>
        <div class="mt-4">
            <form [formGroup]="cityForm" (ngSubmit)="onSubmit()" class="space-y-4">
                <label for="city" class="block text-lg font-medium">City</label>
                <input type="text" id="city" formControlName="city" class="w-full p-2 border border-gray-300 rounded-md">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Get Weather</button>
            </form>
        </div>
    </div>
</div>