<div>
    @for (city of cities; track city) {
        <div (click)="service.goToWeatherDetail(city)" class="bg-blue-300 p-4 rounded-lg border-4 border-blue-300 hover:border-blue-500">
            <p class="text-xl font-bold mb-4">{{ city.name }}</p>
            <p>Temperature: {{ city.main.temp }}°C</p>
            <p>Humidité: {{ city.main.humidity }}%</p>
            <p>Vitesse du vent: {{ city.wind.speed }} m/s</p>
            <p>Climat: {{ city.weather[0].main }}</p>
            <button type="button" (click)="removeFromFavorite($event,city)" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600">Retirer des favoris</button>
        </div>
    }
</div>